<!doctype html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Oswald|Permanent+Marker" rel="stylesheet">
<link rel="stylesheet" href="css/about.css">

<title>About Me SP</title>
</head>

<body>



<div id="one">

  <div id="two">
  <h3> WHO IS SHANA PARKER? </h3>

  <img class="clearfix" src="https://avatars3.githubusercontent.com/u/25145239?v=3&u=1c76678006fc889ab3bd5306528e5e703405c042&s=400">


<P>
  I am a recent graduate of <a href="https://www.grandcircus.co/">Grand Circus Detroit</a> 10-week intensive Front-end boot camp of the January cohort.
  After nine years in Retail Management and Fashion industry, I decided to follow my new passion and make a career change into tech.
<br>
  I am looking to merge my pass strengths with my new skills and join a team, collaborate and create beautiful web applications, with a team of talented web developers.

  <h3>.INTRO TO CODING.</h3>
  My introduction to "coding" was one of chance and a ambition to fill a
  need at my then job. In 2014 my father told me about a program that Google had to teach
  women how to code, but the deadline had already passed by the time I was made aware of it.
<br>
  Also at that same time in 2014 I was working for a womens clothing commpany in Birmingham, MI and we desperately needed our website
  updated from it's 2006 glory days.

  <h3>.BRIGHT IDEAS.</h3>
  I had my light bulb moment and after days and nights of doing research on coding, I found a
  intro HTML & CSS two night workshop with Girl Develop IT. I signed up one week later
  with the hopes of being able to learn a new skill, add to my value at work and save our website
  all at the same time. I've also found code as another way to create and be creative.
</p>


<p>
After taking the workshop and laughing at how I
naively believed I would be able to rebulid or edit our current
website after two days. I started to think of how I could merge my love of clothing and retail
with this new passion to learn to code. From there I thought of all the possibilities
that come along with learning how to read and write code and being exposed to all the
ways we interact with some form of code in our daily lives. I recieved a suggestion from Girl Develop IT about Grand Circus Detroit.
<br> <br>
Shortly after I went home and did more research about bootcamps and Grand Circus, I was drawn in even more. I took the opportunity to attend
a open house; I applied, interviewed,and was accepeted into the Front-End bootcamp. In between that time of acceptance and the start of
the bootcamp I attended as many workshops, panel discussions,
and tech talks as possible.
 </p>
  </div>

 <div id="three">

<h4> .THE GOODS.  </h4>
<p>
My free time is spent anywhere from strollig through the DIA to going mudding in my Polaris and everything else in between.
<br>
The other half of my time is spent brainstorming ideas and planning event for two start up organizations close to me.
<a href = "https://www.instagram.com/bethefeed/?hl=en"> The Feed</a> and <a href="https://www.instagram.com/herbestdet/?hl=en">Her Best</a>.
<br> <br>
The Feed is a community group, that I founded in the summer of 2015 with the intentions of giving back to the communities of Detroit and Metro Detroit, through annual community events.
The goal of The Feed is to inspire others to give back and help grow their communities and communities around them while providing a flexible option for people looking to volunteer.
<br> Her Best is focused on ensuring every women feels her best and is her best self that she can be.
</p>



<h3>.FUN FACTS. </h3>


<ol>
<li>I love to be creative and enjoy all forms of art.</li>
<li>Over the last few years I may have adopted a addiction to memes.</li>
<li>I'm a night owl</li>
<li>I would like to learn about graphic design and be able to
  create some beautiful graphics.</li>
</ol>
</div>

</div>

</body>

</html>
