<link href="https://fonts.googleapis.com/css?family=Oswald|Permanent+Marker" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="css/contact.css">

<body>
  <div id="one">
  <h1>.Keep In Touch.</h1>
  <p id="two">I would love to hear from you.</p>



<div class ="linkedin">
   <span> <a href= "https://www.linkedin.com/in/shanaparker/" target="_blank">
     <i class="fa fa-linkedin fa-4x"></i> </a> </span>
</div>

<div class="email">
      <span> <a href="https://mail.google.com/mail/?view=cm&fs=1&to=parker.shana.parker@gmail.com" target="_blank">

       <i class="fa fa-envelope-o fa-4x"></i> </a> </span>
</div>

<div class="resume">
  <a href="css/images/ShanaParkerResume - Copy.pdf" download="shanaParkerResume"><img src ="css/images/resumelogo.png"></a>

</div>

 <!-- <p> <span class="glyphicon glyphicon-heart-empty"></span> </p> -->


  <!-- <form>
    First name:<br>
    <input type="text" name="Firstname"><br>
    Last name:<br>
    <input type="text" name="Lastname"><br>
    Email:<br>
    <input type="text" name="Email"><br>
    Leave a note:<br>
    <input type="text" name="Leave a note"><br>
    <input id="three" type="submit" value="TTYL">
  </form> -->

</div>
</body>
