<link href="https://fonts.googleapis.com/css?family=Oswald|Permanent+Marker" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">


<!-- <div id="one">
<h1 id="two"> . Hello . </h1>
<p>My name is</p>
<h4>Shana Parker </h4>
you should get to know me a little better, <a href="#/about"> follow me over to my about me page.</a>
<h3> <a href="#/contact">contact me</a></h3>
<div class="ocean">
<img src="https://avatars3.githubusercontent.com/u/25145239?v=3&u=1c76678006fc889ab3bd5306528e5e703405c042&s=400"> </div>
<div class="hustle">
<a href="file:///C:/Users/The%20Boss/Desktop/[Parker]Portfolio/contact.html"> <img src="https://ctl.s6img.com/society6/img/8oYoWwG3Fr-2zXQvWpqDoNdGHFo/h_550,w_550/prints/~artwork/s6-0025/a/10691142_7838779/~~/good-things-happen-to-those-who-hustle-black-and-white-watercolor-prints.jpg" /> </a> </div>
<div class="ocean2">
<img src="http://68.media.tumblr.com/c4193c1ce995b9cd9af03e9d2e5bea8b/tumblr_nilv3x031i1rno97no1_500.jpg"> </div>
</div> -->



<div id="one">
  <h1 class="hello">.HELLO.</h1>
  <p class="lead"> My name is <br> <span> Shana Parker </span></p>
  <p>I am a design-oriented Front-End Web Developer, <br> who loves to build beautiful web applications.</p>
  <hr class="my-4">

  <p class="lead">
    <a href="#/about">Get To Know Me</a>
  </p>
</div>
