<link rel="stylesheet" href="css/projects.css">
<link href="https://fonts.googleapis.com/css?family=Oswald|Permanent+Marker" rel="stylesheet">

<body>
<div id="one">
  <div id="two">
<h2>.SKILLS. <br> .TO PAY THE BILLS. </h2>

<p>
  <ul>
  <li>HTML5 /CSS</li>
  <li>JavaScript</li>
  <li>Angular</li>
  <li>jQuery</li>
  <li>Node.JS</li>
  <li>  Git/GitHub</li>
  <li>Web Design</li>
  </ul>
</p>
  </div>


<div id="three">
  <h2>.PROJECTS.</h2>

<div class="one">
  <h4>Shop Detroit </h4>
    <p> .Final Project [solo].</p>
<a href= "https://lovelifesp.github.io/ShopDetroit/#/" target="_blank"><img src ="css/images/shopDetroit.png"></a>
</div>

<div class="two">
<h4>The Soupa Theater </h4>
<p> .Mid Term Project [Collab x2].</p>
<a href= "https://lovelifesp.github.io/midterm/" target="_blank"><img src ="css/images/midterm.png"></a>
</div>

<div class="three">
<h4>Bootstrap Blog </h4>
<p>.Lab 4 [solo].</p>
<a href= "https://lovelifesp.github.io/lab4/" target="_blank"><img src ="css/images/bootstrapBlog.png"></a>
</div>

<div class ="four">
<h4>To Do List </h4>
<p>.Lab 12 [solo].</p>
<a href= "https://lovelifesp.github.io/Lab-12/" target="_blank"><img src ="css/images/ToDoList.png"></a>
</div>

<div class="five">
<h4>Six Year Old Simulator </h4>
<p>.Lab 13 [solo].</p>
<a href= "https://lovelifesp.github.io/6yearSimulator/" target="_blank"><img src ="css/images/6year.png"></a>
</div>

<div class="six">
<h4>Rich Reddit </h4>
<p>.Lab 17 [solo].</p>
<a href= "https://lovelifesp.github.io/Rich-Reddit/" target="_blank"><img src ="css/images/richReddit.png"></a>
</div>

<div class="seven">
<h4>Fizzy Quotes </h4>
<p>.Lab 18 [collab x2].</p>
<a href= "https://lovelifesp.github.io/Lab-18/#/fizzView" target="_blank"><img src ="css/images/fizzBuzz.png"></a>
</div>









</div>
<span> <a href= "https://github.com/lovelifesp" target="_blank">
  <i class="fa fa-github fa-4x"></i> </a> </span>
</div>
</body>
